.filter-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 140px;
  height: 30%;
  position: relative;
}

.filter-input-container {
  min-width: 300px;
  position: relative;
  margin-left: 10px;
  margin-right: 20px;
}

.filter-input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 8px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffe300;
  color: #ffe300;
  background-color: #262626;
}

::placeholder {
  color: #fff080;
}

.filter-search-icon {
  width: 36px;
  height: 36px;
  background-image: url("../../img/magnifier.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  background-size: 30px 30px;
}

.filter-search-button {
  height: 36px;
  line-height: 34px;
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: #fff6b3;
  color: #1a1a1a;
  cursor: pointer;
  border-radius: 5px;
}

.filter-search-button:hover {
  background-color: #ffe300;
  color: #000000;
}
